{% extends "base.html" %}
{% load static %}

{% block content %}
{% block form %}

{% if form.errors %}
    <div>{{ form.errors }}</div>
{% endif %}

<form
    enctype="multipart/form-data"
    name="{{ form.form_name }}"
    method="post"
    action=""
>
    {% csrf_token %}
    {{form.as_p }}
    <button type="submit">
        Mettre &agrave; jour
    </button>
</form>

{% endblock form %}
{% endblock content %}
