{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>
        {{ object.article_title }}
        <span>Le {{ object.article_pub_date }} par {{ object.article_author }}</span>
    </h1>

    {% if user.is_authenticated %}
        <a href="{% url 'blog:article_edit' object.id %}">
            Modifier
        </a>
    {% endif %}
        <div>
            <img class="img-responsive center-block" src="{{ article.article_picture.url }}">
        </div>
    <p>{{ object.article_content|safe }}</p>
{% endblock content %}
