{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <a href="{% url 'blog:article_add' %}">
            Nouvel article
        </a>
    </div>
{% endif %}
<hr>
{% if article_list %}
    {% for article in article_list %}
        <div class="row">
            <div>
                <!-- WIP
                    <img class="img-responsive thumbnail" src="{#{ article.article_thumbnail.url }#}">
                -->
            </div>
            <div>
                <h1>
                    <a href="{% url 'blog:article_detail' article.id %}">{{ article.article_title }}</a>
                    <span>Le {{ article.article_pub_date }} par {{ article.article_author }}</span>
                </h1>
                {{ article.article_content|safe|truncatechars_html:500 }}
                <a href="{% url 'blog:article_detail' article.id %}">plus</a>
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <h1>En cours de construction...</h1>
{% endif %}
{% if article_list.paginator.num_pages > 1 %}
    <nav aria-label="...">
        <ul class="pager">
            {% if article_list.has_previous %}
                <li class="previous">
                    <a href="{% url 'index' %}?page={{ article_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span> &nbsp; Articles plus r&eacute;cents
                    </a>
                </li>
            {% endif %}
            {% if article_list.has_next %}
                <li class="next">
                    <a href="{% url 'index' %}?page={{ article_list.next_page_number }}" aria-label="Next">
                        Articles plus ancients &nbsp;<span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock content %}
