{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Web site template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div>
            <div>Web site template</div>
        </div>
        <nav>
            <div>
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'blog:index' %}">Blog</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>

    <div id="content">
            <div>
                {% block left-panel %} {% endblock left-panel %}
            </div>
            <div>
                {% block content %} {% endblock content %}
            </div>
            <div>
                {% block right-panel %} {% endblock right-panel %}
            </div>
        </div>
        <footer>
            <p>
                Web site by Andy Floch - Free of rights -&nbsp;
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">Login</a>
                {% else %}
                    &nbsp;{{user.get_username }}
                    &nbsp;&nbsp;
                    <a href="{% url 'logout' %}">&nbsp;Deconnexion</a>
                {% endif %}
            </p>
        </footer>
    </body>
</html>
